version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 951155
      MYSQL_DATABASE: myappdb
      MYSQL_USER: kavid
      MYSQL_PASSWORD: 951155
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  web:
    build: ./app
    container_name: flask-web
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: kavid
      DB_PASSWORD: 951155
      DB_NAME: myappdb
    ports:
    - "5000:5000"
    networks:
      - app-network


volumes:
  db_data:


networks:
  app-network:
  driver: bridge